/** @format */
.separator {
  margin-top: 12.5%;
  width: 200%;

  border-top: 1px solid #ccc;
}

.blogposts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: (auto, 30vh);
}

body {
  margin: 0;
}
