/** @format */

.dispimg {
  width: 50px;
  transform: translateY(50%);
}

.cool {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.cool:hover {
  cursor: pointer;
  background-color: rgb(179, 242, 242);
}

.centerbetter {
  position: relative;
}

.displaytwitter {
  width: 40px;
  transform: translateY(50%);
}

.title {
  font-size: small;
}

.shamsspecial {
  width: 40px;
  transform: translate(-10%, 70%);
}
